<main-nav active-page="'about'"></main-nav>
<a id="top"></a>
<div class="jumbotron jumbotron-billboard aboutus">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
        </div>
    
<div class="container">
        <h3 class="contact-phone-heading">About Bread & Butter</h3>

        <p>
            Do you only have a few ingredients at home and not sure what to cook? Bread & Butter has you covered. 
            <br>
            <br>
            Bread & Butter is a recipe search engine which allows you to type in the ingredients you have available 
            at home, at any given time and gives you recipe ideas to try out. Bread & Butter has over 300,000 recipes
            available for use, so, even with a few ingredients, you will be able to cook something delicious everyday.
            <br>
            <br>
            In the process, if you find a recipe that you want to try, but dont have enough ingredients, Bread & Butter lets 
            you add the items to the groceries list for you to collect the items when you go grocery shopping. This will make
            shopping and cooking a lot easier and better.
            <br>
            But what if you have your own recipe ideas for other members to try? With Bread & Butter, you can add your own 
            recipes to save to our list of recipes. This will be highly beneficial to other members who might be in the same 
            dilemma as you are.
        </p>
    
        <br>
        <h3 class="contact-phone-heading">About our team</h3>
        
        <br>
        <p>
            Bread & Butter is run by a team of experts who love to cook at home with only a few ingredients available.
            Their passion for cooking and helping others to have a great experience cooking at home gave rise to the idea of 
            Bread & Butter. They are always focused on providing the best recipes available to cook with the least items in 
            the ingredients list. 
            <br>
            Currently, Bread & Butter is headquarted in Birmingham, Al and has 4 executive members in the team. However, we are looking to grow
            and expand in other cities as well.
       
        </p>

</div>
<main-footer></main-footer>