<main-nav></main-nav>

<div class="jumbotron jumbotron-billboard">
    <div class="img"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="addheading">Add your recipe</h1>
            </div>
        </div>
    </div>
</div>
</div>

<br>

<div class="container">
    <form ng-submit="save()">
        <div class="form-group">
            <div id="newrecipeform">
                <label for="title">Recipe name: </label>
                <input ng-model="name" type="text" id="recipeinput" class="form-control" placeholder="eg. Apple pie" />
            </div>


            <div class="row">
                <div class="col" id="newrecipeform">
                    <label for="Prep time">Prep time: </label>
                    <div class="input-group">
                        <input ng-model="preptime" type="text" id="prepinput" class="form-control" placeholder="eg. 20" aria-describedby="basic-addon2" />
                        <span class="input-group-addon" id="basic-addon2">minutes</span>
                    </div>
                </div>

                <div class="col" id="newrecipeform">
                    <label for="Cook time">Cook time: </label>
                    <div class="input-group">
                        <input ng-model="cooktime" type="text" class="form-control" placeholder="eg. 10" />
                        <span class="input-group-addon" id="basic-addon2">minutes</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col" id="newrecipeform">
                    <label for="Serving size">Serving size: </label>
                    <input ng-model="servingsize" type="text" id="servinginput" class="form-control" placeholder="eg. 5" />
                </div>

                <div class="col" id="newrecipeform">
                    <label for="Serving yield">Serving yield: </label>
                    <input ng-model="servingyield" type="text" id="servinginput" class="form-control" placeholder="eg. One 8-inch pie" />
                </div>
            </div>


            <div id="newrecipeform">
                <label for="Ingredients">Required ingredients: </label>
                <textarea ng-model="ingredients" class="form-control" id="ingredientsinput" rows="3" placeholder="One ingredient per line, include subheaders by ending with a colon (eg. For the dressing)."></textarea>

                <div>
                    <div id="newrecipeform">
                        <label for="Directions">Directions to prepare: </label>
                        <textarea ng-model="directions" class="form-control" id="directionsinput" rows="5" placeholder="One step/direction per line, include subheaders by ending with a colon."></textarea>
                    </div>

                    <div id="newrecipeform">
                        <label for="Note">Note: </label>
                        <textarea ng-model="additionalinfo" class="form-control" id="notesinput" rows="3" placeholder="Additional Information."></textarea>
                    </div>

                    <br>
                    
                    <div id="newrecipebtn">
                        <input type="submit" value="Save" class="btn btn-light view-btn" />
                        <a ng-href="/alluserrecipes" class="btn view-btn" role="button">Cancel</a>
                        <!-- <button type="button" class="btn btn-light view-btn">Submit</button>
                    <button type="button" class="btn btn-light view-btn">Cancel</button> -->
                    </div>
                </div>
            </div>
      
    </form>
    <br>
    
</div>
</div>
<br>
