<main-nav></main-nav>
<a id="top"></a>
<div class="container">

	<div class="row">
		<div class="col-md-12">
			<br>
			<h1 id="single-recipe-title">Bacon Double Cheese Burger Dip</h1>
			<p id="single-recipe-caption">BY: Closet Cooking
				<a href="{{r.publisher_url}}">{{r.publisher}}</a> || POPULARITY RANKING: &#9734; &#9734; &#9734; &#9734; &#9734;</p>
				<hr>
			<div class="recipe-description">
				<img src="media/burgerdip.jpg" alt="" class="img-thumbnail" id="single-recipe-img">
				<h6>854 made it || 304 reviews || 1,403 likes</h6>
				<p>The Super Bowl is quickly approaching and that means that it is time to start dusting off some recipes for snacking!
					 I am a big fan of hot melted cheese dips and I had an idea for a new one, a bacon double cheese burger dip that 
					 has all of the flavours of a bacon double cheese burger. Beef is the main part of a burger so I started out there
					  and I added some ingredients that I commonly add to burgers including onions, garlic and worcestershire sauce. Next
					   up was the bacon and then the cheese and I included both cheddar for the flavour and mozzarella for the stringy 
					   melted goodness. I went with the standard hot melted cheese dip ingredients including the cream cheese, mayonnaise
						and sour cream to form the base of the dip. One final touch was the addition of ketchup as it is a pretty standard
						 condiment used in burgers. All of the ingredients are then mixed together and baked until the cheeses all melt and
						  start to brown and get all bubbly. </p>
			</div>
		</div>

		<div class="col-md-6 directions-container">
			<h3 class="single-subtitle">Directions</h3>
			<hr>

			<ul class="prepTime">
				<li class="prepTime__item">
					<span class="icon--stats-clock"></span>
				</li>
				<li class="prepTime__item">
					<p class="prepTime__item--type">Prep</p>
					<time itemprop="prepTime" datetime="PT20M">
						<span class="prepTime__item--time">10</span> m</time>
				</li>
				<li class="prepTime__item">
					<p class="prepTime__item--type">Cook</p>
					<time itemprop="cookTime" datetime="PT16M">
						<span class="prepTime__item--time">50</span> m</time>
				</li>
				<li class="prepTime__item">
					<p class="prepTime__item--type">Ready In</p>
					<time itemprop="totalTime" datetime="PT10H">
						<span class="prepTime__item--time">1</span> h</time>
				</li>
			</ul>
			</ul>
			<p>
				<div class="circle">1</div>Cook the ground beef in a pan over medium heat, set it aside and drain the grease from the pan.
			</p>
			<p>
				<div class="circle">2</div>Cook the bacon in the pan until crispy, about 6-10 minutes, set aside and drain all but a tablespoon of the grease.
			</p>
			<p>
				<div class="circle">3</div> Add the onion and saute until tender, about 5-7 minutes.
			</p>
			<p>
				<div class="circle">4</div>Add the garlic and saute until fragrant, about a minute.
			</p>
			<p>
				<div class="circle">5</div>Mix the ground beef, bacon, onions and garlic, cream cheese, sour cream, mayonnaise, mozzarella, cheddar, worcestershire sauce and ketchup and pour it into a baking dish.
			</p>
			<p>
					<div class="circle">6</div>Bake in a preheated 350F/180C oven until the top starts turning a light golden brown and then sides are bubbling, about 20-30 minutes.
				</p>

		</div>

		<div class="col-md-6 ingredients-container">
			<h3 class="single-subtitle">Ingredients</h3>
			<hr>

			<ul class="ingredient-list">

					<li>1/2 pound ground beef</li>
					<li>6 strips bacon, cut into 1 inch pieces</li>
					<li>1 small onion, diced</li>
					<li>1 clove garlic, chopped</li>
					<li>4 ounces cream cheese, room temperature</li>
					<li>1/2 cup sour cream</li>
					<li>1/4 cup mayonnaise</li>
					<li>1/2 cup mozzarella, shredded</li>
					<li>1/2 cup cheddar cheese, shredded</li>
					<li>1 tablespoon worcestershire sauce</li>
					<li>2 tablespoon ketchup</li>

			</ul>
			<button ng-click="addIngredients()" class="btn view-btn cart">Add To Cart</button>
		</div>
	</div>
</div>
<main-footer></main-footer>