<div class="jumbotron jumbotron-billboard">
    <div class="aboutus"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="aboutusheading">About us</h1>
            </div>
        </div>
    </div>
</div>

<div class="aboutuscontent">
    <h3>About Bread&Butter</h3>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Aliquam sollicitudin mi in tristique gravida.
        <br>Integer id odio nec mauris sollicitudin elementum.
        <br><br>Phasellus nec nulla laoreet, maximus dui sit amet, tempus ex.
        <br><br>Vestibulum quis neque viverra, accumsan purus at, gravida leo.
        <br><br>Praesent blandit nunc ac convallis maximus.
        <br><br>Sed pretium libero semper eros volutpat, nec dictum turpis luctus.
        <br><br>Quisque scelerisque felis nec sem ornare, eget tristique quam sagittis.
        <br><br>Nullam vehicula lectus sed nisl placerat hendrerit.
    </p>

    <h3>About our team</h3>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Aliquam sollicitudin mi in tristique gravida.
        <br>Integer id odio nec mauris sollicitudin elementum.
        <br><br>Phasellus nec nulla laoreet, maximus dui sit amet, tempus ex.
        <br><br>Vestibulum quis neque viverra, accumsan purus at, gravida leo.
        <br><br>Praesent blandit nunc ac convallis maximus.
        <br><br>Sed pretium libero semper eros volutpat, nec dictum turpis luctus.
        <br><br>Quisque scelerisque felis nec sem ornare, eget tristique quam sagittis.
        <br><br>Nullam vehicula lectus sed nisl placerat hendrerit.
    </p>

</div>

<div class="jumbotron jumbotron-billboard">
    <div class="contactus"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="aboutusheading">Contact us</h1>
                <p class="contactuslead">Give us a shout!</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="form-group">
        <div class="row">

            <div class="col-sm-6">
                <p>
                    Our office location:
                    <br>
                    <br> 1234 Bread&Butter St.
                    <br> Birmingham, AL 35210
                    <br>
                    <br>
                    <br> Contact:
                    <br>
                    <br> Office: 205-4-BUTTER
                    <br> Fax: 205-4-BUTTER
                </p>
            </div>


            <div class="col-sm-6">
                <form ng-submit="send()">

                    <div id="contactusform">
                        <label for="title">Name: </label>
                        <input type="text" id="nameinput" class="form-control" placeholder="Your name" />
                    </div>

                    <div id="contactusform">
                        <label for="title">Email: </label>
                        <input type="text" id="emailinput" class="form-control" placeholder="Your email address" />
                    </div>

                    <div id="contactusform">
                        <label for="title">Subject: </label>
                        <input type="text" id="emailinput" class="form-control" placeholder="Subject" />
                    </div>

                    <div id="contactusform">
                        <label for="title">Message: </label>
                        <textarea type="text" id="emailinput" class="form-control" rows="3" placeholder="Your message"></textarea>
                    </div>

                    <br>
                    <input type="submit" value="Send" class="btn btn-light" />
                </form>
            </div>
        </div>
    </div>
    <br>
    <br>

</div>

<div class="container" id="social">
    <h3>Lets get social!</h3>
    <br>
    <a href="https://www.facebook.com" class="fa fa-facebook" style="font-size:60px"></a>
    <a href="https://twitter.com" class="fa fa-twitter" style="font-size:60px"></a>
    <a href="https://www.instagram.com" class="fa fa-instagram" style="font-size:60px"></a>
    <a href="https://www.youtube.com" class="fa fa-youtube-play" style="font-size:60px"></a>
    <a href="https://www.yelp.com" class="fa fa-yelp" style="font-size:60px"></a>
</div>
<br>

</div>







