<main-nav></main-nav>
<div class="homepage-hero-module">
		<div class="video-container">
			<div class="title-container">
				<h2 id="search-message">I have...</h2>
				<div class="description">
					<div class="inner">
						<div id="custom-search-input">
						<form ng-submit="search()" ng-controller="WelcomeController">
							<input type="text" class="search-query form-control" ng-model='searchbox1' id="firstSearch" placeholder="Enter your ingredient"
							/>
							<input type="text" class="search-query form-control" ng-model='searchbox2' id="secondSearch" placeholder="Enter another if you'd like"
							/>
							<input type="text" class="search-query form-control" ng-model='searchbox3' id="thirdSearch" placeholder="Anything else?"
							/>
							<button type="submit" ng-submit="search()" class="btn search-btn">What should I make?</button>
						</form>
						</div>
					</div>
				</div>
			</div>
			<video autoplay loop class="fillWidth" muted>
				<source src="media/food.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.</video>
		</div>
	</div>
	<div class="container" id="content">
		<div class="row">
			<div class="col-md-12" id="rotd">
				<h2>ROTD (Recipe of the Day)</h2>
				<img src="media/tacos.jpg" alt="..." class="img-thumbnail" id="rotd-img">
				<h2 id="rotd-title">Margarita Marinated Flank Steak Tacos</h2>
				<p>Bacon ipsum dolor amet fatback frankfurter pork loin flank tail. Tail biltong porchetta, ribeye spare ribs kevin rump
					pastrami shoulder sausage pork brisket salami shankle hamburger. Corned beef chuck short loin ground round swine sausage
					salami. Short ribs pork loin sirloin pork. Ham hock turkey tri-tip pancetta drumstick, beef ribs short ribs pork chop
					kevin frankfurter chicken turducken hamburger tongue. Short ribs pork loin sirloin pork. Ham hock turkey tri-tip pancetta
					drumstick, beef ribs short ribs pork chop kevin frankfurter chicken turducken hamburger tongue.
				</p>
				<button type="button" class="btn view-btn" ng-click="goToSingle(id)">VIEW RECIPE</button>

			</div>
			<div class="col-md-12">
				<h2 id="week-header">What to Cook This Week</h2>
				<p id="week-caption">FREE RECIPES AND GUIDES FOR THE WEEK OF NOVEMBER 13TH</p>
				<hr>
			</div>

			<div class="col-md-4 recipe-container">
				<h3>Monday</h3>
				<h4 id="week-title">Recipe Name</h4>
				<img src="media/food1.jpg" alt="..." class="img-thumbnail" id="week-img">
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condiment nibh,
					ut ferment massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
				<p>
					<button type="button" class="btn view-btn">VIEW RECIPE</button>
				</p>
			</div>
			<div class="col-md-4 recipe-container">
				<h3>Tuesday</h3>
				<h4 id="week-title">Recipe Name</h4>
				<img src="media/food2.jpg" alt="..." class="img-thumbnail" id="week-img">
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condime nibh,
					ut fermenm massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
				<p>
					<button type="button" class="btn view-btn">VIEW RECIPE</button>
				</p>
			</div>
			<div class="col-md-4 recipe-container">
				<h3>Wednesday</h3>
				<h4 id="week-title">Recipe Name</h4>
				<img src="media/food3.jpg" alt="..." class="img-thumbnail" id="week-img">

				<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, eges eget quam. Vestibulum id ligula porta felis euismod
					semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
				<p>
					<button type="button" class="btn view-btn">VIEW RECIPE</button>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 recipe-container">
				<h3>Thursday</h3>
				<h4 id="week-title">Recipe Name</h4>
				<img src="media/food4.jpg" alt="..." class="img-thumbnail" id="week-img">

				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
					nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
				<p>
					<button type="button" class="btn view-btn">VIEW RECIPE</button>
				</p>
			</div>
			<div class="col-md-4 recipe-container">
				<h3>Friday</h3>
				<h4 id="week-title">Recipe Name</h4>
				<img src="media/food5.jpg" alt="..." class="img-thumbnail" id="week-img">

				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
					nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
				<p>
					<button type="button" class="btn view-btn">VIEW RECIPE</button>
				</p>
			</div>
			<div class="col-md-4 recipe-container">
				<h3>The Weekend</h3>
				<h4 id="week-title">Recipe Name</h4>
				<img src="media/food6.jpg" alt="..." class="img-thumbnail" id="week-img">

				<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod
					semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
				</p>
				<p>
					<button type="button" class="btn view-btn">VIEW RECIPE</button>
				</p>
			</div>
		</div>
	</div>