<main-nav></main-nav>
<a id="top"></a>
<div class="career-header">
		<div class="preview-container">
				<video id="video-preview" autoplay="" loop="" muted>
					<source src="media/food.mp4" type="video/mp4">
				</video>
				<div class="content-container">
				<h2 id="search-message">I have...</h2>
				<div id="custom-search-input">
						<form ng-submit="search()" ng-controller="WelcomeController">
							<input type="text" class="search-query form-control" ng-model='searchbox1' id="firstSearch" placeholder="Enter your ingredients..."
							/>
							<p>(ex: cheese, bread, garlic)</p>
							<button type="submit" ng-submit="search()" class="btn search-btn">What should I make?</button>
						</form>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="container" id="content">
		<div class="row">
			<div class="col-md-12" id="rotd">
				<h2>ROTD (Recipe of the Day)</h2>
				<img src="media/hotchicken.jpg" alt="..." class="img-thumbnail" id="rotd-img">
				<h2 id="rotd-title">Nashville Hot Chicken</h2>
				<p>Nashville's signature fried chicken dish has thick, crispy skin that's dunked in chile oil for a fiery finish, and Top
					 Chef favorite Carla Hall's version is no different.
					 Little more is needed to round it all out other than a slice of soft, white bread and a couple of pickles.
					 <br><br>
					No doubt about it, six tablespoons of cayenne is a lot, but that's what Hattie B's considers "medium." For a milder heat, decrease to two tablespoons. 
				</p>
				<button type="button" class="btn view-btn" ng-click="goToROTD()">VIEW RECIPE</button>

			</div>
			<div class="col-md-12">
				<h2 id="week-header">What to Cook This Week</h2>
				<p id="week-caption">FREE RECIPES AND GUIDES FOR THE WEEK OF NOVEMBER 13TH</p>
				<hr>
			</div>

			<div class="col-md-4 recipe-container">
				<h3>Monday</h3>
				<h4 id="week-title">Spinach & Bacon Quiche</h4>
				<img src="media/food1.jpg" alt="..." class="img-thumbnail" id="week-img">
				<p>Start your Monday morning right with one of our most popular breakfast recipes! Savory quiche, filled with spinach, Gruyere, caramelized onions, ham, bacon and mushrooms.
					This version is made extra easy by using frozen pie crust, and most of the ingredients can be prepped ahead of time,
					 making this a fabulous, easy meal!</p>
				<p>
					<button type="button" class="btn view-btn">VIEW RECIPE</button>
				</p>
			</div>
			<div class="col-md-4 recipe-container">
				<h3>Tuesday</h3>
				<h4 id="week-title">Margarita Marinated Tacos</h4>
				<img src="media/tacos.jpg" alt="..." class="img-thumbnail" id="week-img">
				<p>It's Taco Tuesday everybody! This recipe is one of our all times favorites. I mean, margarita is in the title. How could they not be a hit??
					Filled with margarita marinated flank steak, lots of avocado, cilantro, and a squeeze of lime, these tacos are the bomb and just what you
					need to kick off any great Taco Tuesday.
				</p>
				<p>
					<button type="button" class="btn view-btn">VIEW RECIPE</button>
				</p>
			</div>
			<div class="col-md-4 recipe-container">
				<h3>Wednesday</h3>
				<h4 id="week-title">Ginger & Clam Soup</h4>
				<img src="media/food3.jpg" alt="..." class="img-thumbnail" id="week-img">

				<p>This Chinese style soup is loaded with clams and lots of ginger. It's absolutely delightful and so easy to make!
						This is one of the easiest soups to make at home. This soup is especially popular in Taiwan. It takes only a 
						few ingredients and practically 15 minutes to prepare, but the end result is absolutely pleasing.
				</p>
				<p>
					<button type="button" class="btn view-btn">VIEW RECIPE</button>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 recipe-container">
				<h3>Thursday</h3>
				<h4 id="week-title">Artichoke & Arugula Pizza</h4>
				<img src="media/food4.jpg" alt="..." class="img-thumbnail" id="week-img">

				<p>There’s really nothing better than fresh mozzarella on pizza. It compliments just about any ingredient, 
					but it works especially well with artichokes and salty black olives. The canned artichokes we use here are an easy,
					 juicy addition to make this Artichoke, Arugula & Olive Pizza extra delicious.</p>
				<p>
					<button type="button" class="btn view-btn">VIEW RECIPE</button>
				</p>
			</div>
			<div class="col-md-4 recipe-container">
				<h3>Friday</h3>
				<h4 id="week-title">Brazilian Rice & Beans</h4>
				<img src="media/food6.jpg" alt="..." class="img-thumbnail" id="week-img">

				<p>The beauty in this dish is the simplicity.  It’s not a complicated thing; in fact you won’t see any seasonings except for salt and pepper. 
					 The flavor comes from these four things: sausage, garlic, peppers, and onion. This dish brings just the right amount of
					heat and simplicity to the dinner table.</p>
				<p>
					<button type="button" class="btn view-btn">VIEW RECIPE</button>
				</p>
			</div>
			<div class="col-md-4 recipe-container">
				<h3>The Weekend</h3>
				<h4 id="week-title">Loaded Alfredo Fries</h4>
				<img src="media/food5.jpg" alt="..." class="img-thumbnail" id="week-img">

				<p>Loaded fries with bacon, alfredo, and sundried tomatoes are always set to make a great appearance while watching your favorites sports teams play. 
					A great recipe for a last minute game-watching party. Just pop them in the oven and they're ready to go in less than 30 minutes.
				</p>
				<p>
					<button type="button" class="btn view-btn">VIEW RECIPE</button>
				</p>
			</div>
		</div>
	</div>