<main-nav></main-nav>
<a id="top"></a>
<div class="container">

	<div class="row">
		<div class="col-md-12">
			<h1 id="single-recipe-title">Nashville Hot Chicken</h1>
			<p id="single-recipe-caption">BY: Hattie B's
				<a href="{{r.publisher_url}}">{{r.publisher}}</a> || POPULARITY RANKING: &#9734; &#9734; &#9734; &#9734; &#9734;</p>
				<hr>
			<div class="recipe-description">
				<img src="media/hotchicken.jpg" alt="" class="img-thumbnail" id="single-recipe-img">
				<h6>203 made it || 138 reviews || 392 likes</h6>
				<p> Nashville's signature fried chicken dish has thick, crispy skin that's dunked in chile oil for a fiery finish,
					 and Top Chef favorite Carla Hall's version is no different. Little more is needed to round it all out other 
					 than a slice of soft, white bread and a couple of pickles. 
					 <br>
					 <br>
					 No doubt about it, six tablespoons of cayenne is a lot,
					  but that's what Hattie B's considers "medium." For a milder heat, decrease to two tablespoons. </p>
			</div>
		</div>

		<div class="col-md-6 directions-container">
			<h3 class="single-subtitle">Directions</h3>
			<hr>

			<ul class="prepTime">
				<li class="prepTime__item">
					<span class="icon--stats-clock"></span>
				</li>
				<li class="prepTime__item">
					<p class="prepTime__item--type">Prep</p>
					<time itemprop="prepTime" datetime="PT20M">
						<span class="prepTime__item--time">20</span> m</time>
				</li>
				<li class="prepTime__item">
					<p class="prepTime__item--type">Cook</p>
					<time itemprop="cookTime" datetime="PT16M">
						<span class="prepTime__item--time">15</span> m</time>
				</li>
				<li class="prepTime__item">
					<p class="prepTime__item--type">Ready In</p>
					<time itemprop="totalTime" datetime="PT10H">
						<span class="prepTime__item--time">35</span> m</time>
				</li>
			</ul>
			</ul>
			<p>
				<div class="circle">1</div>Toss chicken with black pepper and 2 Tbsp. salt in a large bowl. Cover and chill at least 3 hours.
			</p>
			<p>
				<div class="circle">2</div>Whisk eggs, buttermilk, and hot sauce in a large bowl. Whisk flour and remaining 4 tsp. salt in another large
				bowl.
			</p>
			<p>
				<div class="circle">3</div> Fit a Dutch oven with thermometer; pour in oil to measure 2”. Heat over medium-high heat until thermometer registers
				325°. Pat chicken dry. Working with 1 piece at a time, dredge in flour mixture, shaking off excess, then dip in buttermilk
				mixture, letting excess drip back into bowl. Dredge again in flour mixture and place on a baking sheet.
			</p>
			<p>
				<div class="circle">4</div>Working in 4 batches and returning oil to 325° between batches, fry chicken, turning occasionally, until skin
				is deep golden brown and crisp and an instant-read thermometer inserted into thickest part of pieces registers 160° for
				white meat and 165° for dark, 15–18 minutes. Transfer to a clean wire rack set inside a baking sheet. Let oil cool slightly.
			</p>
			<p>
				<div class="circle">5</div>Whisk cayenne, brown sugar, chili powder, garlic powder, and paprika in a medium bowl; carefully whisk in 1 cup
				frying oil. Brush fried chicken with spicy oil. Serve with bread and pickles.
			</p>

		</div>

		<div class="col-md-6 ingredients-container">
			<h3 class="single-subtitle">Ingredients</h3>
			<hr>

			<ul class="ingredient-list">

				<li>2 3½–4-lb. chickens, each cut into 10 pieces (breasts halved)</li>
				<li>1 tablespoon freshly ground black pepper</li>
				<li>2 tablespoons plus 4 tsp. kosher salt</li>
				<li>4 large eggs</li>
				<li>2 cups buttermilk or whole milk</li>
				<li>2 tablespoons vinegar-based hot sauce (such as Tabasco or Texas Pete)</li>
				<li>4 cups all-purpose flour</li>
				<li>Vegetable oil (for frying; about 10 cups)</li>
				<li>6 tablespoons cayenne pepper</li>
				<li>2 tablespoons dark brown sugar</li>
				<li>1 teaspoon chili powder</li>
				<li>1 teaspoon garlic powder</li>
				<li>1 teaspoon paprika</li>
				<li>White bread and sliced pickles (for serving)</li>

			</ul>
			<button ng-click="addIngredients()" class="btn view-btn cart">Add To Cart</button>
		</div>
	</div>
</div>
<main-footer></main-footer>