<main-nav></main-nav>
<div class="container">
	<!-- <div class="col-md-12">
	
</div>
<div class="row">
<div class="col-md-6 ingredients-container">
	<h2>Ingredients</h2>
</div>
<div class="col-md-6 directions-container">
<h2>Directions</h2>
</div>

</div> -->

<div class="row">
		<div class="col-md-12">
				<h1 id="single-recipe-title">Nashville Hot Chicken</h1>
				<p id="single-recipe-caption">BY: THIS PERSON || POPULARITY RANKING: ****</p>
				<div class="recipe-description">
				<img id="single-recipe-img" src="media/longhotchicken.jpg">
				<h6>71 made it || 18 reviews || 89 likes</h6>
				<p>Vape kogi shaman trust fund. Flannel health goth jean shorts keffiyeh poutine trust fund. 
					Woke try-hard hella roof party lyft selfies vegan pop-up lumbersexual. Flexitarian meh 
					kinfolk selfies, hell of godard blue bottle XOXO. Typewriter single-origin coffee ugh 
					taxidermy microdosing, woke truffaut cornhole tattooed. La croix hexagon fingerstache woke
					four dollar toast small batch. Hot chicken occupy subway tile, YOLO raclette ennui semiotics
					aesthetic vaporware meditation green juice hella flexitarian. </p>
			</div>
		</div>
		<div class="col-md-6 ingredients-container">
			<h3 class="single-subtitle">Ingredients</h3>
			<hr>
			<ul>
				<li>4 tousled swags</li>
				<li>1 can vegan beer</li>
				<li>6 narwhal vaporwares</li>
				<li>1 biodiesel la croix</li>
				<li>5 messenger bag succulents drinking vinegar</li>
				<li>6 bushwicks before they sold out</li>
				<li>7 authentic mixtapes</li>
				<li>tousled swag</li>
				<li>beer vegan</li>
				<li>narwhal vaporware</li>
				<li>biodiesel la croix</li>
				<li>messenger bag succulents drinking vinegar</li>
			</ul>
		
		</div>
		<div class="col-md-6 directions-container">
			<h3 class="single-subtitle">Directions</h3>
			<hr>

			<ul class="prepTime">
					<li class="prepTime__item"><span class="icon--stats-clock"></span></li>
						<li class="prepTime__item">
							<p class="prepTime__item--type">Prep</p><time itemprop="prepTime" datetime="PT20M"><span class="prepTime__item--time">20</span> m</time>
						</li>
								<li class="prepTime__item">
							<p class="prepTime__item--type">Cook</p><time itemprop="cookTime" datetime="PT16M"><span class="prepTime__item--time">16</span> m</time>
						</li>
								<li class="prepTime__item">
							<p class="prepTime__item--type">Ready In</p><time itemprop="totalTime" datetime="PT10H"><span class="prepTime__item--time">30</span> m</time>
						</li>
				</ul>
			</ul>
			<p><div class="circle">1</div>Sustainable post-ironic four dollar toast celiac tumeric tbh bitters schlitz trust fund glossier farm-to-table
			 	microdosing gluten-free slow-carb. Pabst kitsch meh waistcoat. Mustache kinfolk waistcoat pitchfork pok pok 
				copper mug snackwave artisan.
				</p>
				<p><div class="circle">2</div>Subway tile leggings bespoke biodiesel. Raw denim lo-fi adaptogen subway tile.
				Chillwave truffaut kombucha, williamsburg fingerstache gastropub paleo sustainable shoreditch bicycle rights
				cray mlkshk hot chicken tumeric. Man braid irony kinfolk, banh mi enamel pin kale chips seitan marfa kickstarter
				mumblecore williamsburg.
				</p>
				<p><div class="circle">3</div> Ennui succulents keytar mlkshk celiac. Tumblr jean shorts blue bottle tofu, tbh viral 
				tousled small batch ennui la croix.
				</p>
				<p><div class="circle">4</div>Hashtag live-edge pitchfork, chambray semiotics lyft crucifix woke vape squid mustache swag authentic mixtape.
				Poke ethical godard, vape keytar helvetica hashtag yuccie taiyaki blog tumblr hexagon adaptogen waistcoat air plant.
				Copper mug mustache vinyl air plant humblebrag butcher chillwave vice 90's 
					
					</p>
			
		</div>
	</div>
</div>