<main-nav></main-nav>

<div id="recipe-container">
    <div class="recipe-list">
        <h2>{{ userRecipe.name }}</h2>
        <h6>By: {{ userRecipe.UserFirstname }} {{ userRecipe.UserLastname }}</h6>
        <br>
        <p>Cook time: <br> {{ userRecipe.cooktime}}</p>
        <p>Prep time: <br> {{ userRecipe.preptime}}</p>
        <p>Serving Size: <br> {{ userRecipe.servingsize}}</p>
        <p>Serving Yield: <br> {{ userRecipe.servingyield}}</p>
        <p>Ingredients: <br> {{ userRecipe.ingredients}}</p>
        <p>Directions: <br> {{ userRecipe.directions}}</p>
        <p>Additional Info: <br> {{ userRecipe.additionalinfo}}</p>
        
        <button type="button" class="btn view-btn" ng-click="deleteRecipe()">Delete</button>
    </div>
</div>
<br>