<main-nav></main-nav>
<div class="container">
	<!-- <div class="col-md-12">
	
</div>
<div class="row">
<div class="col-md-6 ingredients-container">
	<h2>Ingredients</h2>
</div>
<div class="col-md-6 directions-container">
<h2>Directions</h2>
</div>

</div> -->

<div class="row">
		<div class="col-md-12">
				<h1 id="single-recipe-title">Nashville Hot Chicken</h1>
				<p id="single-recipe-caption">BY: THIS PERSON || POPULARITY RANKING: ****</p>
				<div class="recipe-description">
				<img id="single-recipe-img" src="media/longhotchicken.jpg">
				<h6>71 made it || 18 reviews || 89 likes</h6>
				<p>Vape kogi shaman trust fund. Flannel health goth jean shorts keffiyeh poutine trust fund. 
					Woke try-hard hella roof party lyft selfies vegan pop-up lumbersexual. Flexitarian meh 
					kinfolk selfies, hell of godard blue bottle XOXO. Typewriter single-origin coffee ugh 
					taxidermy microdosing, woke truffaut cornhole tattooed. La croix hexagon fingerstache woke
					 four dollar toast small batch. Hot chicken occupy subway tile, YOLO raclette ennui semiotics
					  aesthetic vaporware meditation green juice hella flexitarian. </p>
			</div>
		</div>
		<div class="col-md-12">
			<h2 id="week-header">What to Cook This Week</h2>
			<p id="week-caption">FREE RECIPES AND GUIDES FOR THE WEEK OF NOVEMBER 13TH</p>
			<hr>
		</div>

		<div class="col-md-4 recipe-container">
			<h3>Monday</h3>
			<h4 id="week-title">Recipe Name</h4>
			<img src="media/food1.jpg" alt="..." class="img-thumbnail" id="week-img">
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condiment nibh,
				ut ferment massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
			<p>
				<button type="button" class="btn view-btn">VIEW RECIPE</button>
			</p>
		</div>
		<div class="col-md-4 recipe-container">
			<h3>Tuesday</h3>
			<h4 id="week-title">Recipe Name</h4>
			<img src="media/tacos.jpg" alt="..." class="img-thumbnail" id="week-img">
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condime nibh,
				ut fermenm massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
			<p>
				<button type="button" class="btn view-btn">VIEW RECIPE</button>
			</p>
		</div>
		<div class="col-md-4 recipe-container">
			<h3>Wednesday</h3>
			<h4 id="week-title">Recipe Name</h4>
			<img src="media/food3.jpg" alt="..." class="img-thumbnail" id="week-img">

			<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, eges eget quam. Vestibulum id ligula porta felis euismod
				semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
			<p>
				<button type="button" class="btn view-btn">VIEW RECIPE</button>
			</p>
		</div>
	</div>
</div>