<main-nav></main-nav>
<div class="container" id="searchcontainer">
    <h1 class="top-heading">Check out some of our most popular recipes:</h1>
    <hr>
<div id="recipes" ng-repeat="x in recipe">
        <a id="searchresults" ng-click="singleView($event)" data="{{x.recipe_id}}">
            <div id="{{x.recipe_id}}" class="recipe-div" ng-model="id">
                <h2> {{ x.title }}</h2>
                <h5> {{ x.publisher }}</h5>
                <img ng-src="{{x.image_url}}" alt="" class="img-thumbnail" id="search-img">
                <button type="button" class="btn view-btn search" ng-click="goToBurger()">VIEW RECIPE</button>
            </div>
        </a>
</div>
</div>
