<main-nav></main-nav>
<div class="jumbotron jumbotron-billboard userportal">
            <div class="col-lg-12">
                <h1 class="contactusheading">Member Recipe Portal</h1>
                <p class="contactuslead">Have a great recipe idea to share with other members?</p>
            </div>
        </div>


<br>
<br>


<h1 class="login-header">Please login to add your recipe</h1>

<div class="nav-login">
        <form ng-submit="login()">
        <input type="email" class="username" ng-model="email" placeholder="Email" />
        <input type="password" class="password" ng-model="password" placeholder="Password" />
        <input type="submit" value="Sign In" class="login-button" alt=""/></br>
        </form>
        
        </div>
    <main-footer></main-footer>

        