<main-nav active-page="'yourrecipes'"></main-nav>


<br><br><br>
<main-nav></main-nav>
<div class="jumbotron jumbotron-billboard yourrecipes">
        <h1 class="contactusheading">Your Virtual Recipe Box</h1>
    </div>

<div class="yourecipetop" width="80%">
    <h3 align="center">Would you like to add a new recipe?</h3>
    <a class="btn view-btn search" href="/addrecipe" role="button">Add your recipes</a>
</div>
    <br>
    <br>
    <br>
  
    <h3 align="center">You have added the following recipes.</h3>
    <br>
    <div class="container">
        
            <div ng-repeat="recipe in recipeByUser" class="col-md-4" id="recipes">
                    <div class="recipe-div">
                <a id="yourrecipe" ng-click="deleteRecipe($event)" data="{{x.id}}">
            <img ng-src="{{ recipe.imageurl }}" id="search-img" class="img-thumbnail">
            <h3>{{ recipe.name }}</h3>
            <a ng-href="/singleuserrecipe/{{ x.id }}" class="btn view-btn" role="button">See the recipe</a>
                <!-- <a class="btn view-btn" role="button" value="Delete" ng-click="deleteRecipe()">Delete</a> -->
                <button type="button" class="btn view-btn search">Delete</button>
            </div>
        </div>
    </div>
 