
/* Search Bar Styles */ 
#search-message {
	font-size: 5.5rem;
}

#custom-search-input p {
	letter-spacing: .125rem;
	font-family: Courier, monospace;
}

#custom-search-input .search-query {
	-webkit-border-radius: .18rem;
	-moz-border-radius: .18rem;
	border-radius: .62rem;
	color: white;
	opacity: 0.6;
	width: 50rem;
	height: 5.4rem;
	color: black;
	font-size: 2.8rem;
}

.search-btn {
	padding: .31rem;
	width: 20rem;
	height: 3rem;
	font-size: 1.5rem;
	margin-top: .625rem;
	background-color: #7c0000;
	border: 1px solid #7c0000;;
	color: white;
}

.search-btn:hover {
	background-color: hsla(0, 0%, 100%, 0);
	color: #7c0000;
	border: 1px solid white;
	color: white;
}

.example {
	font-size: 2rem;
}


.search-query:focus + button {
	z-index: 3;   
}

/* Homepage Recipes Styles */


#rotd {
	margin-bottom: 2.5rem;
}

.rotd-main {
	font-weight: bold;
	font-size: 2.5rem;
	margin-bottom: 20px;
}

.rotd-container {
	margin-top: 2.5rem;
	background: gray;
}

#rotd-img {
	width: 19rem;
	height: 19rem;
	float: left;
	margin-right: .95rem;
	margin-bottom: 1.5rem;
}

#rotd-title {
	margin-bottom: .625rem;
	font-weight: bold;
}


.rotd-box {
	background-color: rgba(128, 128, 128, 0.1);
	padding: 60px;
	padding-top: 20px;
}


.view-btn {
	background-color: #7c0000;
	border: 1px solid #7c0000;;
	color: white;
}

.view-btn:hover {
	background-color: white;
	color: #7c0000;
	border: 1px solid #7c0000;;
}

.recipe-container {
	margin-bottom: 1.8rem;
}

#week-header {
	text-align: center;
	font-weight: bold;
	font-size: 2.8rem;
	margin-bottom: -.18rem;
}

#week-title {
	font-weight: bold;
	margin-top: 0.625rem;
	margin-bottom: 0.3125em;
}

#week-caption {
	text-align: center;
	font-size: .93rem;
	margin-bottom: 2.8rem;
}

#week-img {
	height: 12.5rem;
	width: 12.5rem;
	float: left;
	margin-right: 0.625em;
}

.weekdays {
	font-family: Courier, sans-serif;
	color: #7c0000;
	font-size: 30px;
	font-weight: bold;
    text-shadow: 3px 3px rgba(128, 128, 128, 0.3);
}

hr {
	border: 2px solid rgba(0, 0, 0, 0.445);
}

/* Navigation Styles */
.navbar {
	background-color: white;
	-webkit-box-shadow: 0 9px 6px -6px #999;
    -moz-box-shadow: 0 9px 6px -6px #999;
	box-shadow: 0 9px 6px -6px #999;
	height: 5rem;
	font-size: 25px;
}

#logo {
	font-family: Montserrat, sans-serif;
	letter-spacing:  0.18rem;
	font-size: 2rem;
}

.custom-toggler.navbar-toggler {
	border: none;
}


.form-group{
    width: 60em;
    margin: auto;
    /* background-color: lightcyan; */
}

.form-control{
    margin: 0 auto 1.5em auto;
}


#ingredientsinput{
    height: 7em;
    width: 60em;
}

#directionsinput{
    height: 10em;
    width: 60em;
}

#qty{
    width: 5em;
}

#newrecipebtn{
    position:relative;
    /* top:50%; 
    left:50%; */
}

.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.8;
    color: #fff;
    background: url("https://images.unsplash.com/photo-1474600056930-615c3d706456?auto=format&fit=crop&w=1352&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") center center;
	width: 100%;
	height: 600px;
	background-size: cover;
}

.jumbotron {
    position: relative;
    padding: 3.125rem;
}
.jumbotron .container {
    z-index: 2;
    position:relative;
    z-index: 2;
}

.addheading{
    text-align: center;
    size: 15;
    font-weight: bold;
	font-size: 5.6rem;
	color: white;
}

#newrecipeform{
    background-color: white;
}

.form-control {
    background-color: white;
    margin: 0.2em;
}

.aboutus {
	color: #fff;
    background: url("https://images.unsplash.com/photo-1497534547324-0ebb3f052e88?auto=format&fit=crop&w=1290&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") no-repeat center -300px fixed;
    width: 100%;
	height: 600px;
	background-size: cover;

}

.contactusheading {
	margin-top: 95px;
	color:white;
    text-align: center;
    font-weight: bold;
	font-size: 5.6rem;
}

a:hover {
	text-decoration: none;
}


.aboutusheading{
	color:white;
    text-align: center;
    font-weight: bold;
	font-size: 5.6rem;
	margin-top: 100px;
}

.contact-email-heading {
	text-align: center;
	font-family: Montserrat, sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 20px;
	color: rgb(58, 58, 58);
}

.contact-phone-heading {
	text-align: center;
	font-family: Courier, sans-serif;
	color: rgb(58, 58, 58);
	font-size: 40px;
}

.contactus {
	color: #fff;
    background: url("/media/donuts.jpg") center -200px fixed;
	width: 100%;
	height: 600px;
	background-size: cover;
}

.contactuslead{
    text-align: center;
    size: 15;
    font-weight: bold;
    font-size: 1.5rem;
	color: white;
	margin-top: -10px;
}

#social{
    text-align: center;
}

.aboutuscontent{
	width: 60em;
	margin: auto;
}

.jumbotron-billboard .userportal {
    margin-bottom: 0px;
    opacity: 0.9;
    color: #fff;
    background: url("https://images.unsplash.com/photo-1505233276084-d944dbc8f17d?auto=format&fit=crop&w=2550&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") center center;
	width: 100%;
	height: 600px;
	background-size: cover;

}

#userportal{
	width: 90%;
	margin: auto;
}

#inputlogin{
	width: 16em;

}

#carousel-item-size{
	width: 25em;
	height: 21em;
	margin: auto;
}
/* Single View Styles */


#single-recipe-title {
	margin-top: 6.25rem;
	margin-bottom: 0.3em;
	text-align: center;
	font-size: 3rem;
	font-weight: bold;
}

#single-recipe-img {
	float: left;
	margin-right: 1.875rem;
	margin-bottom: 1.875rem;
	height: 350px;
	width: 350px;
	overflow: hidden;
	object-fit: cover;
}

.recipe-description {
	margin-bottom: 6.25rem;
}

#single-recipe-caption {
	text-align: center;
	font-size: 1rem;
	margin-bottom: 2.8rem;
	margin-left: -5.6rem;
}

.ingredients-container, .directions-container {
	margin-top: 3.75rem;
	margin-bottom: 1.875rem;
}

.single-subtitle {
	font-size: 2.18rem;
}

.circle {
	background-color: #7c0000;
	border-radius: 50%;
	height: 2.18rem;
	width: 2.18rem;
	font-weight: bold;
	text-align: center;
	line-height: 2.18rem;
	color: white;
	font-size: 1em;
	margin-right: 0.625em;
	float: left;
}

.vertical-line {
	border-right: 1px solid black;
  }
  
.prepTime {
	clear: both;
	float: left;
	width: 90%;
	margin: .8rem 5% 1rem 0;
	list-style: none;
}

.prepTime__item {
    float: left;
    width: 80px;
    text-align: center;
    line-height: .7rem;
    padding: 0 .25rem;
    border-right: solid 1px #5f5f5f;
	color: rgb(32, 32, 32);
	margin-bottom: 1rem;
}

.icon--stats-clock {
    width: 42px;
    height: 42px;
    background-image: url(http://images.media-allrecipes.com/ar-images/sprites/recipe_directions_icons_031115.svg);
    background-position: -0.625em -222px;
    background-repeat: no-repeat;
	display: block;
}

.prepTime__item:first-child {
    border-right: 0;
    width: 42px;
    padding: 0;
	margin-right: 5px;
	margin-left: -20px;
}

.prepTime__item:last-child {
	border-right: 0;
}

.cart {
	margin-left: 40px;
}


/* Testing */

video { 
	transform: scaleX(1.129); 
	-webkit-transform: scaleX(1.126); 
	-moz-transform: scaleX(1.126);
	margin-bottom: 70px;
  }

.preview-container {
	position: relative;
	height: auto;
	width: 100%;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
	}

	#video-preview {
	min-width: 100%;
	height: 100vh;
	width: auto;
	height: auto;
	}
	
	.career-header {
	text-align: center;
	}
	
	.career-header .preview-container .grid {
	z-index: 2;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	}
	 .content-container {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #FFF;
	text-align: center;
	text-shadow: 0 0 5px rgba(1, 1, 1, 0.5);
	}

	#play-video {
	display: block;
	cursor: pointer;
	width: 150px;
	height: 150px;
	padding: 20px;
	display: inline-block;
	position: relative;
	z-index: 111;
	transition: all 0.1s ease-in-out;
	transform: scale(0.85);
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	-o-transform: scale(0.85);
	transform: scale(0.85);
	}

/* Search Results Page Styles */

#search-img {
	width: 17rem;
	height: 17rem;
	overflow: hidden;
	object-fit: cover;
	float: left;
	margin-left: 1.875rem;
}

img {
	overflow: hidden;
}

#recipes {
	width: 21.25rem;
	height: 31.25em;
	display: inline-block;
	padding-right: 0.625rem;
	margin: 0.625rem;
	text-align: center;
}

.view-btn, .search {
	margin-top: 1.25rem;
}

.more-btn {
	margin-left: 28.75rem;
	margin-bottom: 3.125rem;
}

/* Grocery List Styles */

.menu-wrap h3 {
	display: inline;
	margin-right: 5rem;
	line-height: 4rem;
}

.menu-wrap button {
	display: inline;
}

.grocery-list-top {
    height: 70px;
    background-color: #e1e1e1;
    border-radius: 6px;
	padding-left: 20px;
	margin-bottom: 2rem;
}

.grocery-list-top span {
    line-height: 70px;
	font-size: 26px;
	font-weight: bold;
}

.grocery-list-top-buttons {
    float: right;
	margin: 12px 10px 0 0;
}

.grocery-list-top-buttons button {
    width: 140px;
    height: 35px;
    background: #7c0000;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    display: block;
    font-size: 14px;
    display: inline-block;
	margin: 0 2px;
}

.grocery-list-top-buttons button:hover {
	background-color: white;
	color: #7c0000;
	font-weight: bold;
}

.jumbolist {
    background: url("shelf.jpg") no-repeat fixed;
	width: 100%;
	height: 600px;
	background-size: cover;
}

.groceryheading {
	margin-top: 100px;
	color:white;
    text-align: center;
    font-weight: bold;
	font-size: 5.6rem;
}

#removeBtn {
	display: flex;
	display: inline-block;
	cursor: pointer;
	border: 0;
	background: transparent;
	outline: 0;
	overflow: hidden;
  }

  #removeBtn .icon {
	position: relative;
	background: #1D242B;
	line-height: 30px;
	width: 30px;
	height: 30px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	-webkit-transition: .2s color;
	transition: .2s color;
	border-radius: 2px;
  }

  #removeBtn .icon:after { 
	display: block;
	position: absolute;
	width: 5px;
	height: 5px;
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
	background: #1D242B;
	top: 12.5px;
	right: 1px;
	-webkit-transition: .2s right;
	transition: .2s right;
	z-index: 1;
  }
  
  #removeBtn:hover .icon {
	color: #F34541;
	border-radius: 0;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
  }

  #removeBtn:hover ~ #ingredient-line { 
	  color: #F34541;
	}

	#ingredient-line {
		display: inline;
	}

	#removeBtn:hover .icon:after {
	right: -2px;
  }
  #removeBtn:hover .text {
	width: 50px;
  }

  .ingredient-container {
	  margin-bottom: 50px;
  }


.allrecipes{
	background: url("https://images.unsplash.com/photo-1447078806655-40579c2520d6?auto=format&fit=crop&w=1350&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") 0 -200px fixed no-repeat;
	width: 100%;
	height: 600px;
	background-size: cover;
}
	
.all-recipe-list{
	width: 50%;
	margin: 2em auto;
}
	
.recipe-list{
	width: 75%;
	margin: 2em auto;
}
	
.singledesign {
	clear: both;
	float: left;
	width: 90%;
	text-align: center;
	margin: .8rem 5% 1rem 0;
	list-style: none;
}
	    
.singledesign-type:first-child {
	border-right: 1px solid rgb(32, 32, 32);
	height: 55px;
}
	
#contactresponse {
	width: 50%;
}

#singledesignwidth {
	width: 8em;
}
/* Popular Recipes Styles */

#searchcontainer {
	margin-top: 100px;
}

.top-heading {
	text-align: center;
}

.login-container{
	text-align: center;
}

#listgrid{
	margin-bottom: 2em;
}

.yourecipewidth{
	width: 90%;
}

.yourecipetop{
	text-align: center;
}

/* Footer Styles */

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 40px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 30px Montserrat, sans-serif;
	text-transform: uppercase;
	margin: 0;
	letter-spacing: 3px;
}

.footer-distributed h3 span{
	color:  #940101;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #7c0000;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  white;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

/* Contact Styles */

.contact-socialmedias {
	text-align: center;
}

.contact-socialmedias a {
	color: #7c0000;
}

form {
  max-width: 804px;
  text-align: center;
  margin: 20px auto;
}
form input, form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  resize: none;
}
form input:focus, form textarea:focus {
  -moz-box-shadow: 0 0px 2px #7c0000 !important;
  -webkit-box-shadow: 0 0px 2px #7c0000 !important;
  box-shadow: 0 0px 2px #7c0000 !important;
}
form #input-submit {
  color: white;
  background: #7c0000;
  cursor: pointer;
}
form #input-submit:hover {
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}
form textarea {
  height: 126px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}

#input-message {
	height: 200px;
	width: 400px;
}
/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}


