/* Video Background Styles */
.homepage-hero-module {
	border-right: none;
	border-left: none;
	position: relative;
	width: 100vw;
}

.no-video .video-container video,
.touch .video-container video {
	display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
	display: block !important;
}

.video-container {
	position: relative;
	bottom: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: #000;
	width: 100vw;
}


.video-container .filter {
	z-index: 100;
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
}

.video-container .title-container {
	z-index: 1000;
	position: absolute;
	top: 2%;
	left: 2%;
	width: 100%;
	text-align: center;
	color: #fff;
}

.video-container .description .inner {
	font-size: 1em;
	width: 45%;
	margin: 0 auto;
}

.video-container .link {
	position: absolute;
	bottom: 3em;
	width: 100%;
	text-align: center;
	z-index: 1001;
	font-size: 2em;
	color: #fff;
}

.video-container .link a {
	color: #fff;
}

.video-container video {
	position: absolute;
	z-index: 0;
	bottom: 0;
}

.video-container video.fillWidth {
	width: 100%;
}

#content {
	margin-top: 50px;
}

/* Search Bar Styles */
#search-message {
	margin-top: 210px;
	margin-left: 170px;
	margin-bottom: -10px;
	font-size: 60px;
}

#search-question {
	margin-top: 10px;
	margin-left: 90px;
	font-size: 40px;
}

#custom-search-input {
	margin:0;
	margin-top: 10px;
	padding: 0;
}

#custom-search-input .search-query {
	margin-top: 5px;
	margin-left: -90px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 10px;
	color: white;
	opacity: 0.6;
	width: 700px;
	height: 70px;
	color: black;
	font-size: 45px;
}

#custom-search-input button {
	border: 0;
	background: none;
	padding: 2px 5px;
	margin-top: 2px;
	position: relative;
	left: -28px;
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color:#D9230F;
}

.search-query:focus + button {
	z-index: 3;   
}

/* Homepage Recipes Styles */
#rotd {
	margin-bottom: 40px;
}

.rotd-container {
	margin-top: 40px;
}

#rotd-img {
	width: 300px;
	height: 300px;
	float: left;
	margin-right: 15px;
	margin-bottom: 25px;
}

#rotd-title {
	margin-bottom: 10px;
	font-weight: bold;
}

.view-btn {
	background-color: rgb(124, 0, 0);
	border: 1px solid rgb(124, 0, 0);;
	color: white;
}

.view-btn:hover {
	background-color: white;
	color: rgb(124, 0, 0);
	border: 1px solid rgb(124, 0, 0);;
}

.recipe-container {
	margin-bottom: 30px;
}

#week-header {
	text-align: center;
	font-weight: bold;
	font-size: 46px;
	margin-bottom: -3px;
	margin-top: 20px;
}

#week-caption {
	text-align: center;
	font-size: 15px;
	margin-bottom: 45px;
}

#week-img {
	height: 200px;
	width: 200px;
	float: left;
	margin-right: 10px;
}

hr {
	border: 2px solid rgba(0, 0, 0, 0.445);
}

/* Navigation Styles */
.navbar {
	background-color: white;
}

#logo {
	font-family: Montserrat, sans-serif;
	letter-spacing: 3px;
	font-size: 20px;
}

.custom-toggler.navbar-toggler {
	border: none;
}

/* Carousel Styles */

.custom-carousel {
	margin-bottom: 100px;
	margin-left: 270px;
}


