/* Search Bar Styles */
#search-message {
	margin-top: 100px;
	margin-bottom: -10px;
	margin-left: -110px;
	font-size: 60px;
}


#custom-search-input {
	margin:0;
	margin-top: 10px;
	padding: 0;
}

#custom-search-input p {
	margin-left: -120px; 
	letter-spacing: 2px;
}

#custom-search-input .search-query {
	margin-top: 5px;
	margin-left: 320px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 10px;
	color: white;
	opacity: 0.6;
	width: 700px;
	height: 70px;
	color: black;
	font-size: 45px;
}

.search-btn {
	padding: 5px;
	width: 300px;
	font-size: 25px;
	margin-top: 10px;
	margin-left: -130px;
	background-color: rgb(124, 0, 0);
	border: 1px solid rgb(124, 0, 0);;
	color: white;
}

.search-btn:hover {
	background-color: rgba(255, 255, 255, 0);
	color: rgb(124, 0, 0);
	border: 1px solid white;
	color: white;
}


.search-query:focus + button {
	z-index: 3;   
}

/* Homepage Recipes Styles */
#rotd {
	margin-bottom: 40px;
}

.rotd-container {
	margin-top: 40px;
}

#rotd-img {
	width: 300px;
	height: 300px;
	float: left;
	margin-right: 15px;
	margin-bottom: 25px;
}

#rotd-title {
	margin-bottom: 10px;
	font-weight: bold;
}


.view-btn {
	background-color: rgb(124, 0, 0);
	border: 1px solid rgb(124, 0, 0);;
	color: white;
}

.view-btn:hover {
	background-color: white;
	color: rgb(124, 0, 0);
	border: 1px solid rgb(124, 0, 0);;
}

.recipe-container {
	margin-bottom: 30px;
}

#week-header {
	text-align: center;
	font-weight: bold;
	font-size: 46px;
	margin-bottom: -3px;
}

#week-title {
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
}

#week-caption {
	text-align: center;
	font-size: 15px;
	margin-bottom: 45px;
}

#week-img {
	height: 200px;
	width: 200px;
	float: left;
	margin-right: 10px;
}

hr {
	border: 2px solid rgba(0, 0, 0, 0.445);
}

/* Navigation Styles */
.navbar {
	background-color: white;
}

#logo {
	font-family: Montserrat, sans-serif;
	letter-spacing: 3px;
	font-size: 20px;
}

.custom-toggler.navbar-toggler {
	border: none;
}


.form-group{
    width: 60em;
    margin: auto;
    /* background-color: lightcyan; */
}

.form-control{
    margin: 0 auto 1.5em auto;
}


#ingredientsinput{
    height: 7em;
    width: 60em;
}

#directionsinput{
    height: 10em;
    width: 60em;
}

#qty{
    width: 5em;
}

#newrecipebtn{
    position:relative;
    /* top:50%; 
    left:50%; */
}

.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.8;
    color: #fff;
    background: url("https://images.unsplash.com/photo-1474600056930-615c3d706456?auto=format&fit=crop&w=1352&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position:absolute;
    top:0;left:0;
    z-index:1;
}

.jumbotron {
    position:relative;
    padding:50px;
}
.jumbotron .container {
    z-index:2;
    position:relative;
    z-index:2;
}

.addheading{
    text-align: center;
    size: 15;
    font-weight: bold;
	font-size: 90px;
	color: white;
}

#newrecipeform{
    background-color: white;
}

.form-control {
    background-color: white;
    margin: 0.2em;
}

.jumbotron-billboard .aboutus {
    margin-bottom: 0px;
    opacity: 0.9;
    color: #fff;
    background: url("https://images.unsplash.com/photo-1497534547324-0ebb3f052e88?auto=format&fit=crop&w=1290&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position:absolute;
    top:0;left:0;
	z-index:1;

}

.aboutusheading{
	color:white;
    text-align: center;
    size: 15;
    font-weight: bold;
    font-size: 90px;
}

.jumbotron-billboard .contactus {
    margin-bottom: 0px;
    opacity: 0.9;
    color: #fff;
    background: url("https://images.unsplash.com/photo-1417733403748-83bbc7c05140?auto=format&fit=crop&w=1350&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position:absolute;
    top:0;left:0;
    z-index:1;
}

.contactuslead{
    text-align: center;
    size: 15;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

#social{
    text-align: center;
}

.aboutuscontent{
	width: 60em;
	margin: auto;
}

.jumbotron-billboard .userportal {
    margin-bottom: 0px;
    opacity: 0.9;
    color: #fff;
    background: url("https://images.unsplash.com/photo-1505233276084-d944dbc8f17d?auto=format&fit=crop&w=2550&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position:absolute;
    top:0;left:0;
	z-index:1;
}

#userportal{
	width: 60em;
	margin: auto;
}

#inputlogin{
	width: 16em;

}

#carousel-item-size{
	width: 25em;
	height: 21em;
	margin: auto;
}
/* Single View Styles */

#single-recipe-title {
	margin-top: 100px;
	margin-bottom: 10px;
	margin-left: -100px;
	text-align: center;
	font-size: 35px;
	font-weight: bold;
}

#single-recipe-img {
	float: left;
	margin-right: 20px;
}

.recipe-description {
	margin-bottom: 100px;
}

#single-recipe-caption {
	text-align: center;
	font-size: 15px;
	margin-bottom: 45px;
	margin-left: -90px;
}

.ingredients-container {
	display: block;
}

/* Testing */

video { 
	transform: scaleX(1.129); 
	-webkit-transform: scaleX(1.126); 
	-moz-transform: scaleX(1.126);
	margin-bottom: 70px;
  }

.preview-container {
	position: relative;
	height: auto;
	width: 100%;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
	}

	#video-preview {
	min-width: 100%;
	}
	.career-header {
	text-align: center;
	}
	
	.career-header .preview-container .grid {
	z-index: 2;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	}
	.career-header .content-container {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	color: #FFF;
	margin-top: 150px;
	text-align: center;
	text-shadow: 0 0 5px rgba(1, 1, 1, 0.5);
	}

	#play-video {
	display: block;
	cursor: pointer;
	width: 150px;
	height: 150px;
	padding: 20px;
	display: inline-block;
	position: relative;
	z-index: 111;
	transition: all 0.1s ease-in-out;
	transform: scale(0.85);
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	-o-transform: scale(0.85);
	transform: scale(0.85);
	}